.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__title {
  margin-bottom: 20px;

  color: #f06292;
}

.table {
  max-width: 1200px;
  cursor: pointer;
}

.table__container {
  width: 100%;
  padding: 0 10px;

  overflow-x: scroll;
  white-space: nowrap;
}

@media (min-width: 680px) {
  .table__container {
    display: flex;
    justify-content: center;
    
    overflow-x: hidden;
  }
}